  <!-- Contact Section -->
      <div class=" section-title text-center bg-dark text-white py-4" data-aos="fade-up">
        <h2>Contact US</h2>
        <p><span>Need Help?</span> <span class="description-title">Contact Us</span></p>
      </div><!-- End Section Title -->
  
  <section id="contact" class="contact section my-5">

      <!-- Section Title -->
    

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="mb-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3781.487817086873!2d73.82969299999999!3d18.597116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTjCsDM1JzQ5LjYiTiA3M8KwNDknNDYuOSJF!5e0!3m2!1sen!2sin!4v1749374585174!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="icon bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Add-B-28, Mayanagari, kundan Nagar Phugewadi, Pune-411012</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+91 9112025019</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>infostylospin.in</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
              <i class="icon bi bi-clock flex-shrink-0"></i>
              <div>
                <h3>Opening Hours<br></h3>
                <p><strong>Mon-Sat:</strong> 11AM - 23PM; <strong>Sunday:</strong> Closed</p>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form [formGroup]="contactUSform" (ngSubmit)="submit()" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text"  class="form-control" placeholder="* Your Name"  formControlName="name">
              <div *ngIf="contactUSform.get('name')?.touched && contactUSform.get('name')?.invalid" style="color: red;">
                Name is required.
              </div>

            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control"  placeholder="* Your Email"  formControlName="email">
              
              <div *ngIf="contactUSform.get('email')?.touched && contactUSform.get('email')?.invalid" style="color: red;">
                <span *ngIf="contactUSform.get('email')?.errors?.['required']">Email is required.</span>
                <span *ngIf="contactUSform.get('email')?.errors?.['email']">Enter a valid email.</span>
              </div>
            </div>
            <div class="col-md-6">
              <input type="number" class="form-control"  placeholder="* Contact Number" formControlName="contactNumber">
               <div *ngIf="contactUSform.get('contactNumber')?.touched && contactUSform.get('contactNumber')?.invalid" style="color: red;">
                Contact Number is required.
              </div>
            </div>

            <div class="col-md-6">
              <input type="text" class="form-control"  placeholder="* Subject" formControlName="subject">
               <div *ngIf="contactUSform.get('subject')?.touched && contactUSform.get('subject')?.invalid" style="color: red;">
                Subject is required.
              </div>
            </div>

            <div class="col-md-12">
              <textarea class="form-control" rows="6" placeholder="* Message" formControlName="message"></textarea>
              <div *ngIf="contactUSform.get('message')?.touched && contactUSform.get('message')?.invalid" style="color: red;">
                Message is required.
              </div>
            </div>

            <div class="col-md-12 text-center">
             
              <button type="submit" [disabled]="contactUSform.invalid" class="btn btn-block btn-primary">Send Message</button>
            </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->