
 <div id="logo">
        <span class="big-logo">Stylopin.in</span>
        <span class="small-logo">S!M</span>
    </div>
    <div id="left-menu">
        <ul>
            <li routerLinkActive="active"><a routerLink="/Dashboard">
                <i class="ion-ios-person-outline"></i>
                <span>Product</span>
            </a></li>
            <li routerLinkActive="active"><a routerLink="/About">
                <i class="ion-ios-albums-outline"></i>
                <span>About</span>
            </a></li>
            <li routerLinkActive="active"><a routerLink="/Banner">
                <i class="ion-ios-albums-outline"></i>
                <span>Banner</span>
            </a></li>
            
            <li routerLinkActive="active"><a routerLink="/BuyNow">
                <i class="ion-ios-chatboxes-outline"></i>
                <span>BuyNow</span>
            </a></li>
             <li routerLinkActive="active"><a routerLink="/ContactUS">
                <i class="ion-ios-chatboxes-outline"></i>
                <span>Contact</span>
            </a></li>

        </ul>
    </div>
    <div id="main-content">
        <div id="header" class="row">
            <div class="header-left float-left col-sm-6" >
                <i id="toggle-left-menu" class="ion-android-menu"></i>
            </div>
            <div class="header-right float-right col-sm-6 text-end">
                <i class="ion-ios-people"></i>
            </div>
        </div>


        
        <div id="page-container">
        
            <div class="card">
                <div class="title">Contact  Details</div>
                <div class="content">

                    {{data|json}}
                    <div class="container-fluid">
                        <div class="table-responsive">
                            <table class="table table-bordered">
						    <thead>
						      <tr>
                                <th>Customer Name</th>
						        <th>Customer Number </th>
						        <th>Customer Email</th>
						        <th>Customer Address</th>
						        <th>Customer Massages</th>
						        <th>Action</th>
						      </tr>
						    </thead>
						    <tbody>
                                @for (item of product; track $index; let i = $index) {
						      <tr>
                                <td>Deepak Jadhav</td>
						        <td>98989898</td>
						        <td>deepakgmail.com</td>
						        <td>Pune</td>
						        <td>My Massage The definition of available is someone or</td>
                                <td>
						        	
                                    
                                    <button class="btn btn-danger" (click)="alertDeletFuntion(1)">Delete</button>
						        </td>
						      </tr>
                              }
						      
						    </tbody>
						  </table>
                        </div>

                          <div class="m-2">
                            <ul class="pagination justify-content-end pagination-sm">
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





   

   