
<section class="bg-my-gray">
     <div class="title-box text-center py-5">
		<h2>Check Our Stylospin Procucts</h2>
	</div>

 
 <section class="container">
		<section class="row">
            <!-- @for (item of product; track $index ; let i = $index) { -->
			<div class="col-md-6 my-2 " *ngFor="let item of product; let i = index">
				<section class="row border border-radius-own m-1 bg-white">
					 <div class="col-md-5 p-0 img-back border-radius-left">
             <img [src]="'data:image/jpeg;base64,' + item.imageData" [alt]="item.imageName"
                                        class="img-thumbnail" id="my-img">
					 </div>
					 <div class="col-md-7 p-3 bg-white border-radius-right">
					 	<h3 class="py-1">{{item.pName| titlecase}}</h3>
					 	<p class="text-justify">{{item.description}}</p>
					 		<div> 
                <b>Stock: </b> <b class="text-success"><i class="fa fa-check" aria-hidden="true"></i> {{item.status?"Available":"Not Available"}}</b><br>
                <b>Category: </b> <b ><i class="fa fa-database" aria-hidden="true"></i> {{item.categoryName}}</b><br>
					 			<b>Price: </b> <b><i class="fa fa-inr" aria-hidden="true"></i> {{item.price}}</b>
					 		</div>
                        	<div class="text-end">
                                <button class="btn btn-success btn-radius btn-sm px-3" data-bs-toggle="modal" data-bs-target="#myModal" (click)="buy(item)">Buy 
                                  
                                </button>
                            </div>
					 </div>
				</section>
			</div>
        <!-- } -->
        </section>
    </section>
</section>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Place Order Form</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       
  <section id="contact" class="contact section ">

      <!-- Section Title -->
    

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <form   [formGroup]="orderform" (ngSubmit)="submit()"   class="php-email-form col-md-7" data-aos="fade-up" data-aos-delay="600">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text"  class="form-control form-control-sm" placeholder="* Your Name"  formControlName="name">
              <div *ngIf="orderform.get('name')?.touched && orderform.get('name')?.invalid" style="color: red;">
                Name is required.
              </div>
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control"  placeholder="* Your Email"  formControlName="email">
              
              <div *ngIf="orderform.get('email')?.touched && orderform.get('email')?.invalid" style="color: red;">
                <span *ngIf="orderform.get('email')?.errors?.['required']">Email is required.</span>
                <span *ngIf="orderform.get('email')?.errors?.['email']">Enter a valid email.</span>
              </div>
            </div>

           <div class="col-md-6">
              <input type="number"  class="form-control form-control-sm" placeholder="* Your Contact Number"  formControlName="number">
              <div *ngIf="orderform.get('number')?.touched && orderform.get('number')?.invalid" style="color: red;">
                Name is required.
              </div>
            </div>

            <div class="col-md-6 ">
              <input type="number" class="form-control form-control-sm"  placeholder="* Number Of Peace"  formControlName="numberofitem">
               <div *ngIf="orderform.get('numberofitem')?.touched && orderform.get('numberofitem')?.invalid" style="color: red;">
                Peaces is required.
              </div>
            </div>


			      <div class="col-md-12">
              <textarea class="form-control"  rows="4" placeholder="* Enter Your Shipping address"  formControlName="address"></textarea>
               <div *ngIf="orderform.get('address')?.touched && orderform.get('address')?.invalid" style="color: red;">
                Your Shipping address is required.
              </div>
            </div>

            <div class="col-md-12">
              <textarea class="form-control"  rows="4" placeholder="* Message" formControlName="message"></textarea>
               <div *ngIf="orderform.get('message')?.touched && orderform.get('message')?.invalid" style="color: red;">
                Message is required.
              </div>
            </div>

            <div class="col-md-12 text-center">
             
              <button type="submit" [disabled]="orderform.invalid" class="btn btn-block btn-primary">Place Order / Payment Mode</button>
            </div>

          </div>
        </form><!-- End Contact Form -->
		<div class="col-md-5 border">


			<h4>Prodect Details</h4>
			<hr>
			<p>Product Name: {{singleProduct.pName| titlecase}}</p>
			<p>Prouuct Price: <i class="fa fa-inr" aria-hidden="true"></i>{{singleProduct.price}}</p>
			<p>Product quantity : {{singleProduct.productQuantity}}</p>
			<p>Product Description : {{singleProduct.description}}</p>
		  <img [src]="'data:image/jpeg;base64,' + singleProduct.imageData" [alt]="singleProduct.imageName"
                                        class="img-thumbnail" id="my-img">
		</div>

      </div>

    </section><!-- /Contact Section -->
      </div>

      

    </div>
  </div>
</div>
 
 